body {
    background: linear-gradient(#F08080 0%, #8B0000 40%, #C71585 100%, #696969);
}
.poto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.poto2 {
    width: 200px;
}
.poto h2 {
    color: white;
}
.BIODATA {
    background: linear-gradient(#fffeff 0%, #ffffffd5 40%, #fdfdfd00 100%);
    padding-bottom: 200px;
    padding-top: 150px;
}
.sekolah {
    padding-top: 100px;
}
.footer {
    background: linear-gradient(#ffffff 0%, #c5c5c50a 100%);
    padding-bottom: 200px;
    padding-top: 150px;
}
.footer1 {
    background: linier-gradient(#cf2020 0%, #6e1010 100%);
    padding-bottom: 200px;
    padding-top: 150px;
}